@font-face {
    font-family: "Oswald" ;
    src: url('../fonts/Oswald-VariableFont_wght.ttf');
}

@font-face {
    font-family: "halloween";
    src: url(../fonts/Halloween\ Night.otf);
}

@font-face {
    font-family: "decoder";
    src: url(../fonts/DECODER_.TTF);
}

@font-face {
    font-family: "ocs";
    src: url(../fonts/OCS_____.TTF);
}
@font-face {
    font-family: 'korn';
    src: url(../fonts/KORN.TTF);
}
@font-face {
    font-family: "hanging";
    src: url(../fonts/Hanged\ Letters.ttf);
}

@font-face {
    font-family: "dreamscar";
    src: url(../fonts/Dreamscar.ttf);
}

@font-face {
    font-family: "5x5";
    src: url(../fonts/5×5.ttf);
}

@font-face {
    font-family: "white";
    src: url(../fonts/White\ On\Black.ttf);
}

@font-face {
    font-family: "evanescence";
    src: url(../fonts/evanescent.ttf);
}

@font-face {
    font-family: "punk1";
    src: url(../fonts/punk\ kid.ttf);
}

@font-face {
    font-family: "chaos";
    src: url(../fonts/Magnific\ Chaos\ Personal\ Use.ttf);
}

@font-face {
    font-family: "sketch";
    src: url(../fonts/Sketch\ Gothic\ School.ttf);
}

@font-face {
    font-family: "alagard";
    src: url(../fonts/alagard.ttf);
}

@font-face {
    font-family: "big";
    src: url(../fonts/BigShouldersInlineText-VariableFont_wght.ttf);
}

@font-face {
    font-family: "mono";
    src: url(../fonts/ShareTechMono-Regular.ttf);
}

@font-face {
    font-family: "rubik";
    src: url(../fonts/RubikMonoOne-Regular.ttf);
}

@font-face {
    font-family: "vampire";
    src: url(../fonts/Vampire\ Zone.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Source+Sans+3:ital,wght@0,200;0,800;1,300;1,400;1,500&display=swap');
