@import '../scss/reset/_reset.scss';


@import '../scss/sections/_header.scss';
@import '../scss/sections/index';
@import '../scss/sections/aboutus';
@import '../scss/sections/contactus';
@import'../scss/sections/products';
@import '../scss/sections/wishlist';
@import '../scss/sections/cart' ;
@import '../scss/fonts';


/*wishlist*/



/*cart*/



  /*contact us*/
   
/*about us*/

/* tees */


/* ABOUT US */
.aboutmain {
    background-color: #000000;
    height: 1150px;
}
.grid-about {
   display: grid;
   grid-template-columns: 300px 750px 1fr;
   grid-template-rows: 40px 710px;
   grid-template-areas:
   "uno dos dos"
   "tres cuatro cinco"
   "tres cuatro cinco"
   ;
}


.uno {
    grid-area: uno;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.uno p {
    font-size: 20px;
}

.dos {
    grid-area: dos;
    border: px solid gray;
}

.tres {
    border: px solid gray;
    grid-area: tres;
    display: flex;
    justify-content: center;
}

.tres img {
    border: 1px solid black;
    margin-top: 30px;
    width: 100%;
    height: 240px;
}

.cuatro {
    border: px solid rgb(78, 76, 76);
    grid-area: cuatro;
    display: flex;
    flex-direction: column;
    background-color: #000000;
 gap: 20px;
}

.cuatro .parrafo {
    padding: 20px;
    background-color: #054e21;
    background-image: url(https://cdn.wallpapersafari.com/74/67/G0vIpR.gif);
    border: 2px solid rgb(0, 241, 20);
    display: flex;
    flex-direction: column;
  width: 100%;
}

.cuatro .parrafo img {
    background-color: #000000;
    width: 30%;
    height: 40%;
}

.cuatro .parrafo .onlineshop {
    width: 10px;
    height: 10px;
}

.cuatro .parrafo p {
    padding: 5px;
    border: 2px solid green;
    font-family: "evanescence";
    color: rgb(3, 110, 3);
    background-color: #000000;
    height: 100%;
    font-size: 18px;
}

.cuatro .parrafo a {
    font-size: 15px;
    color: red;
}

.cuatro .parrafo2 {
    padding: 20px;
    background-color: #054e21;
    background-image: url(https://64.media.tumblr.com/d17f1527c0a24903babc3159a1bc8734/e28d1d3a7b1d9f23-c5/s640x960/09e9cd0ed3094ed485171b8f7f75877ccc6ccf03.jpg);
    border: 2px solid rgb(116, 9, 110);
    display: flex;
    flex-direction: column;
  width: 100%;
}

.cuatro .parrafo2 img {
    background-color: #000000;
    width: 30%;
    height: 40%;
}

.cuatro .parrafo2 .partnersbtn {
    background-color: none;
    width: 15%;
    height: 40px;
}

.cuatro .parrafo2 p {
    padding: 5px;
    border: 2px solid rgb(143, 25, 143);
    font-family: "evanescence";
    color: rgb(218, 124, 226);
    background-color: #000000;
    height: 100%;
    font-size: 18px;
}

.cuatro .parrafo2 {
    display: flex;
    flex-direction: column;
  width: 100%;
}

.cuatro .parrafo2 img {
    width: 30%;
    height: 20%;
}

.cuatro .parrafo2 p {
    height: 100%;
    font-size: 18px;
}

.cuatro .parrafo2 h2 {
    background-color: #ff0000;
    color: white;
    text-align: center;
}

.cuatro .parrafo3 {
    padding: 20px;
    background-color: #054e21;
    background-image: url(https://64.media.tumblr.com/a4d593365dfa550fa674beae91cc2355/206d3373b0f9b918-62/s1280x1920/b411745b6baea8666b1c995b47ca19a79b5d12b6.jpg);
    background-size: cover;
    border: 2px solid rgb(173, 5, 5);
    display: flex;
    flex-direction: column;
  width: 100%;
}

.cuatro .parrafo3 img {
    border: 2px solid black;
    width: 30%;
    height: 20%;
}



.cuatro .parrafo3 p {
    padding: 5px;
    border: 2px solid rgb(0, 0, 0);
    font-family: "evanescence";
    color: rgb(156, 11, 11);
    background-color: #000000;
    height: 100%;
    font-size: 18px;
}

.cuatro .parrafo3 {
    display: flex;
    flex-direction: column;
    margin: 0;
  width: 100%;
}

.cuatro .parrafo3 img {
    width: 30%;
    height: 40%;
}

.cuatro .parrafo3 .parrafo3s {
    height: 40vh;
  padding-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    flex-direction: column;
}

.cuatro .parrafo3 .onlineshop {
    border: none;
    background-color: black;
    width: 20px;
    height: 20px;
}

.cuatro .parrafo3 p {
    height: 100%;
    font-size: 18px;
}

.cuatro .parrafo3 .pseparador {
    background-color: none;
    height: 50px;
    width: 100%;
}
.cuatro .parrafo3 .gifprueba {
    background-color: rgb(0, 0, 0);
border: 2px solid white;
padding: 10px;
    width: 30%;
    height: 70%;
}

.cuatro .parrafo3 h2 {
    font-family: "alagard";
    background-color: #ff0000;
    color: white;
    text-align: center;
}

.cinco {
    background-color: #000000;
    grid-area: cinco;
    display: flex;
    flex-direction: column;
}

.cinco img {
    width: 100%;
    background-color: #000000;
}

.cinco .imgcinco {
    gap: 15px;
    display: flex;
    flex-direction: column;
width: 100%;
align-items: center;

}

.cinco .imgcinco img {
    background-color: #e60000;
    background-image: url(https://64.media.tumblr.com/96a8f9f1c2b20a306a883985507b252f/cb047bebcd481cd5-b1/s100x200/ce28992d5dd85244c1bbd6b9d847539ff3473df9.gifv);
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    margin-top: 1px;
    width: 90%;
}

.cinco .mapa {
    background-color: #000000;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30%;
    justify-content: center;
}

.cinco .bottom {
    display: flex;
    justify-content: center;
}

.cinco .bottom img {
    width: 30px;
}

.cinco p {
    font-family: "evanescence";
    border: 2px solid rgb(0, 0, 0);
    color: red;
    font-size: 20px;
    }

.cinco iframe {
   background-color: #000000;
   padding: 5px;
   border: 2px solid rgb(255, 0, 0);
    width: 80%;
    height: 160px;
    
}

.seis {
    grid-area: seis;
}

.siete {
    grid-area: siete;
}

.ocho {
    grid-area: ocho;
}




@media (max-width: 987px){

.supportflex {
    justify-content: center;
}

    .supporttext .supporttext__effecttyping {
        text-align: center;
        font-size: 4vw;
    }

    .supporttext .supporttext2 {
        text-align: center;
        font-size: 6vw;
        margin-bottom: 0;
    }

    .supporttext__contact .contactform {
        width: 90vw;
    }

    .contactustext h2 {
        text-align: center;
    }

    .contactusjob .col {
        height: 34vh;
    }

    .contactusjob .contactlinks{
        width: 70vw;
    }

    .contactfooter {
        border: 2px solid black;
        width: 100%;
        position: relative;
        margin-top: 25vh;
        clear: both;
        height: 130px;
        align-items: center;
        justify-content: center;
        background-color: rgb(0, 0, 0);
        border-top: 2px solid white;
    }


}


@media (max-width: 855px) {
    .separador .medio {
        overflow: scroll;
    }

    .separador .left {
        height: 100%;
    }

    .contentindex {
        display: block;
        flex-direction: row;
        width: 100vw;
    }

    .contentindex .categorias1-inproduct .navegador {
        background-image: url(https://64.media.tumblr.com/27c6cf0846f68c2b01c0bc224f3f9efd/8bed7c1fc38507ce-2b/s540x810/f36e775a9ce915453a21998c9b9cbdd394c5943a.gifv);
        background-size: cover;
        display: flex;
        flex-direction: row;
    }

    .contentindex .categorias1-inproduct .navegador img {
        width: 30%;
    }

    .contentindex .categorias1-inproduct .navegador .moño {
        width:10%;
        display: block;
    }

.contentindex .categorias1-inproduct {
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
}

    .contentindex .categorias1-inproduct .categorias2 {
        display: flex;
        width: 100%;
        overflow: scroll;
        flex-direction: row;
    height: 7vh;
    background-size: 1000px;
    }

    .categorias1-inproduct .categorias2 li img {
        width: 100px;

    }


.categorias1-inproduct .categorias2 {
    padding-left: 0;
}
    

   

    .contentindex .categorias1-inproduct ul {
        margin-bottom: 0;
    }

    .categorias1-inproduct .categorias2 .cat1 a{
        height: 4vh;
        text-align: center;
        background-image: none;
        background-color: #ff0000;
        background-image: url(https://64.media.tumblr.com/5a73b617ce46d274996bec6ab7ba8bf2/632b462899e5470f-a4/s400x600/5686c58ecb99d44ee849e31b076f7baace822246.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border: 2px solid rgb(0, 0, 0);
        width: 85px;
    font-size: 16px;
    }

    .categorias2 .separadorcat{
        display: none;
    }

    .categorias1-inproduct .bajocat  {
        display: none;
    }


    .teesmain  {
        height: 7vh;
        width: 100vw;
    }

    .teesmain .searchtees {
        height: 7vh;
    }

    .teesmain .searchtees .inputproduct input {
        width: 100%;
        height: 30px;
    }


    .teesmain .blinkiesproduct {
        border: none;
        padding-right: 10px;
    }

    .teesmain .blinkiesproduct img {
        border: 2px solid black;
    }
    
    .productostees .columna1 .productbuy {
        width: 100%;
        
    }

   .productostees .columna1 .productbuy img {
    height: 80%;
    width: 100%;
   }
    

    .productostees .columna1 {
        gap: 15px;
        height: 45vh;
   
    }

    .productostees .columna1row {
        height: 50vh;
    }

    .productostees .columna1row {
        height: 50vh;
    }

    .productostees {
       padding: 20px;
        padding-left: 20px;
        gap: 0;
        width: 100vw;
height: 100vh;
    }

   

    .productostees .columna2 .productbuy {
        width: 100%;
        height: 100%;
    }

    .productostees .columna2 .productbuy img {
        width: 17.5vw;
    }

    .productostees .columna2 {
       height: 40vh;
        gap: 15px;
    }

    .productostees {
       padding: 20px;
        padding-left: 20px;

    }

    .teesfooter {
        top: 30vh;
    }

    .nextpage {
      
        width: 100vw;
        height: 10vh;
    }

    .pagination {
        padding-top: 0;
        margin-top: 18.5px;
        padding-bottom: 50px;
        background-color: #000000;
    }

    .columna3row .paginationrow{
        padding: 0;
    }


    .active>.page-link, .page-link.active {
        z-index: 3;
        color: var(--bs-pagination-active-color);
        background-color: #000000;
        border-color: red;
    }

    .page-link{
        color: black;
        background-color: red;
    }

}



@media (max-width: 855px) {



    .separador .medio {
        overflow: scroll;
    }

    .contentindex {
        display: block;
        flex-direction: row;
        width: 100vw;
    }

    .contentindex .categorias1 .navegador {
        background-image: url(https://64.media.tumblr.com/27c6cf0846f68c2b01c0bc224f3f9efd/8bed7c1fc38507ce-2b/s540x810/f36e775a9ce915453a21998c9b9cbdd394c5943a.gifv);
        background-size: cover;
        display: flex;
        flex-direction: row;
    }

    .contentindex .categorias1 .navegador img {
        width: 30%;
    }

    .contentindex .categorias1 .navegador .moño {
        width:10%;
        display: block;
    }

.contentindex .categorias1 {
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
}

    .contentindex .categorias1 .categorias2 {
        display: flex;
        width: 100%;
        overflow: scroll;
        flex-direction: row;
    height: 7vh;
    background-size: 1000px;
    }

    .categorias1 .categorias2 li img {
        width: 100px;

    }



    

   

    .contentindex .categorias1 ul {
        margin-bottom: 0;
    }

    .categorias1 .categorias2 .cat1 a{
        height: 4vh;
        text-align: center;
        background-image: none;
        background-color: #ff0000;
        background-image: url(https://64.media.tumblr.com/5a73b617ce46d274996bec6ab7ba8bf2/632b462899e5470f-a4/s400x600/5686c58ecb99d44ee849e31b076f7baace822246.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border: 2px solid rgb(0, 0, 0);
        width: 85px;
    font-size: 16px;
    }

    .categorias2 .separadorcat{
        display: none;
    }

    .trends img {
        width: 100%;
        transition: none;
    }

    .trends img:active {
        width: 80%;
    }


    .trend {
        height: 75vh;
        padding: 0;
        width: 100%;
    }

    .trend nav ul {
        padding: 0;
        margin-bottom: 0;
        width: 100%;
    }

    .trend nav ul li {
        width: 100%;
    }

    .trend nav ul li a{
        font-size: 18px;
        width: 100%;
    }


    .sectiontrend {
        display: none;
    }

    aside {
        display: none;
    }

.footermain {
    position: relative;
    top: 25vh;
}


}




@media (max-width: 472px) {


    .mainindex {
        display: block;
        height: 100vh;
    }

    .contentindex {
        display: block;
        flex-direction: row;
        width: 100vw;
    }

    .contentindex .categorias1 .navegador {
        background-image: url(https://64.media.tumblr.com/27c6cf0846f68c2b01c0bc224f3f9efd/8bed7c1fc38507ce-2b/s540x810/f36e775a9ce915453a21998c9b9cbdd394c5943a.gifv);
        background-size: cover;
        display: flex;
        flex-direction: row;
    }

    .contentindex .categorias1 .navegador img {
        width: 60%;
    }

    .contentindex .categorias1 .navegador .moño {
        width:20%;
    }

.contentindex .categorias1 {
    width: 100%;
    border: 2px solid rgb(0, 0, 0);
}

    .contentindex .categorias1 .categorias2 {

        display: flex;
        width: 100%;
        overflow: scroll;
        flex-direction: row;
    height: 5vh;
    background-size: 1000px;
    }

    .categorias1 .categorias2 li img {
        width: 100px;

    }

    .categorias1 .categorias2 .cat1 a{
        height: 3vh;
        text-align: center;
        background-image: none;
        background-color: #ff0000;
        background-image: url(https://64.media.tumblr.com/5a73b617ce46d274996bec6ab7ba8bf2/632b462899e5470f-a4/s400x600/5686c58ecb99d44ee849e31b076f7baace822246.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        border: 2px solid rgb(0, 0, 0);
        width: 85px;
    font-size: 16px;
    }

    .categorias2 .separadorcat{
        display: none;
    }


    /* TREND */




.trend {
    display: block;
    width: 100%;
    background-size: cover;
    height:  90vh;
    background-position: 50%;
}

    .trend nav {
        display: inline;
        
        width: 100vw;
    }

    
    .trend nav ul li a {
        width: 50vw;
    }

    .trend nav ul {
        width: 100vw;
        overflow: scroll;
    }
   

    .trend .trendingimg {
        width: 100%;
    }

    .trend nav p {
        font-size: 20px;
        font-weight: normal;
        margin-bottom: 0;
    }

.trend .trends {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
    gap: 5px;
    overflow: scroll;
    height: 90vh;
}

.trend .trends  img{
    border: 2px solid rgb(73, 16, 16);
}

.trend .sectiontrend {
    display: none;
}


aside {
    display: none;
    width: 1px;
}


.footermain {
    top:0vh;
width: 100%;
}


/*PRODUCTS BUY */


.contentindex .categorias1-inproduct .navegador {
    background-image: url(https://64.media.tumblr.com/27c6cf0846f68c2b01c0bc224f3f9efd/8bed7c1fc38507ce-2b/s540x810/f36e775a9ce915453a21998c9b9cbdd394c5943a.gifv);
    background-size: cover;
    display: flex;
    flex-direction: row;
}

.contentindex .categorias1-inproduct .navegador img {
    width: 60%;
}

.contentindex .categorias1-inproduct .navegador .moño {
    width:20%;
}

.contentindex .categorias1-inproduct {
border: 2px solid rgb(0, 0, 0);
}

.contentindex {
    height: 113vh;
    background-color: black;
}

.contentindex .categorias1-inproduct .categorias2 {

    display: flex;
        width: 100%;
        overflow: scroll;
        flex-direction: row;
    height: 5vh;
    background-size: 1000px;
}

.categorias1-inproduct .categorias2 li img {
    width: 100px;

}

.categorias1-inproduct .categorias2 .cat1 a{
    height: 3vh;
    text-align: center;
    background-image: none;
    background-color: #ff0000;
    background-image: url(https://64.media.tumblr.com/5a73b617ce46d274996bec6ab7ba8bf2/632b462899e5470f-a4/s400x600/5686c58ecb99d44ee849e31b076f7baace822246.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid rgb(0, 0, 0);
    width: 85px;
font-size: 16px;
}

.categorias2 .separadorcat{
    display: none;
}

.categorias1-inproduct .bajocat  {
    display: none;
}

.teesmain .searchtees .blinkiesproduct  {
    display: flex;
    justify-content: center;
    width: 100%;
}

.teesmain .searchtees .blinkiesproduct img {
 background-color: #000000;
 margin-left: 10px;
 margin-top: 10px;
    width: 70%;
    height: 100%;
}

.teesmain .searchtees .blinkiesproduct .sales {
    display: none;
}

.teesmain .searchtees {
    flex-direction: column;
   width: 100%;
   height: 60px;
}

.teesmain .searchtees .inputproduct {
    display: flex;
margin-left: 0;
    margin-top: 5px;
    width: 100%;
    background-color: #000000;
    border-radius: 0;
    padding: 10px;
}

.teesmain .searchtees .inputproduct input {
    border: 2px solid rgb(255, 0, 0);
    border-radius: 0;
    width: 100%;
    height: 30px;
    margin-right: 0;
padding: 10px;
}


.productostees {
    background-color: #000000;
width: 100vw;
height:420vh;

}

.productostees .columna1 {
gap: 20px;
    display: flex;
    height: 53.2%;
    padding: 0;
    margin: 0;
    width: 100vw;
    background-color: #000000;
    align-items: center;
    flex-direction: column;
}

.productostees .columna1row {
height: 120vh;
} 

.productostees .columna1 .productbuy {
    text-align: center;
    font-size: 20px;
    border: 2px solid red;
    width: 74%;
    display: flex;
    flex-direction: column;
    height: 58vh;
    background-color: #000000;
    color: rgb(82, 123, 139);
}

.productostees .columna1 .productbuy img {
    height: 45vh;
    padding: 10px;
}

.productostees .columna2 {
    display: flex;
    height: 285vh;
  
    width: 100vw;
    background-color: #000000;
    align-items: center;
    flex-direction: column;
}

.productostees .columna2row {
    height: 10px;
}

.productostees .columna2 .productbuy{ 
    text-align: center;
    font-size: 20px;
    border: 2px solid red;
width: 80%;
    display: flex;
    flex-direction: column;
    height: 58vh;
    background-color: #000000;
    color: rgb(82, 123, 139);
}

.productostees .columna2 .productbuy img{
    padding: 10px;
   height: 43vh;
   width: 100%;
}

.teesmain {
    height: 70vh;
    background-image: none;
    background-color: #000000;
}

.nextpage {
    width: 100%;
   height: 295vh;
    background-color: #000000;
    flex-direction: column;
    
}
.nextpage img {
   padding-bottom: 55px;
}


.teesfooter {
    border: 2px solid black;
    width: 100%;
    margin: 0;
  position: relative;
top: 502vh;
  clear: both;
    height: 20vh;
    align-items: center;
justify-content: center;
    background-color: rgb(0, 0, 0);
    border-top: 2px solid white;
    
}

.footer .redes img  {
    width: 100%;
}

.pagination {
    width: 100%;
    padding-right: 39vw;
    padding-top: 20px;
    justify-content: center;
    position: relative;
    top: 227.5vh;
}

    /* ABOUT US */

    .aboutmain {
        display: inline-block;
        height: 250vh;
        background-color: #000000;
    }

.headermain .headersection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.headermain .headersection .santo {
width: 160px;

height: 140px;
}
.headermain .headersection img {
width: 100%;
}
.headermain {
    height: auto;
}

.headermain .separadores {
    display: flex;
    align-items: end;
    height: 15px;
    width: 100%;
}

.separador {
    display: none;
}

.grid-about {
    display: block;
}

.grid-about .tres img {
    width: 100vw;
    margin-top: 0;
    height: 300px;
}

.cuatro {
    display: inline-block;
    padding: 20px;
    height: 100%;
}

.cuatro .parrafo {
    background-color: #054e21;
    background-image: url(https://cdn.wallpapersafari.com/74/67/G0vIpR.gif);
    border: 2px solid rgb(0, 241, 20);
    display: flex;
    flex-direction: column;
  width: 100%;
}

.cuatro .parrafo img {
    width: 100%;
}

.cuatro .parrafo2 img {
    width: 100%;
}

.cuatro .parrafo3 img {
    width: 100%;
}

.cuatro .parrafo3 .parrafo3s {
    width: 100%;
    height: 230px;
}

.cuatro .parrafo3 .parrafo3s .gifprueba {
    width: 200px;
    height: 200px;
}

.cuatro .parrafo2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cuatro .parrafo2 .partnersbtn {
    width: 100%;
    height: 60px;
}

.cinco {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 100%;
    background-color: #000000;
}

.cinco img {
    border: 2px solid red;
    width: 70%;
}


.cinco .imgcinco {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid red;
}

.cinco .imgcinco img {
    margin: 10px;
    width: 150px;
}

.cinco .mapa {
    margin-top: 20px;
}

.cinco .bottom img {
border: none;
}

.cinco .bottom {
    height: 40px;
}
 
.aboutfooter {
    border: 2px solid black;
    width: 100%;
  position: relative;
top: 70vh;
  clear: both;
    height: 15vh;
    align-items: center;
justify-content: center;
    background-color: rgb(0, 0, 0);
    border-top: 2px solid white;
    
}

/*contact*/

.contactusjob {
    height: 50vh;
}

.contactlinks a {
    font-size: 18px;
}

.contactfooter {
    top: 10vh;
}

}

@media (min-width: 768px) {
 
    .categorias1 .navegador .moño {
        display: none;
    }

}