@import '../vars/colors';


.maincart {
    background-color: rgb(0, 0, 0);
}

.cart {
    padding: 0px 6rem;

    .cart_h2 {
        color: rgb(252, 0, 0);
        border-bottom: 1px solid rgb(51, 50, 50);
        h2 {
            text-shadow: 1px 1px 5px rgb(151, 49, 49);
            padding-top: 1rem;
            font-family: 'vampire';
        }
    }
}

.cart_product {
    padding: 10px;
    margin-top: 10px;
    height: 10rem;
    background-color: $produtCartBox;
    box-shadow: 0 0 15px rgba(0, 0, 0, 1) inset, 1px 1px 0 0 rgba(0, 0, 0, 0.2);

    .cart_product-img {
        display: flex;
        justify-content: center;
        width: 8rem;
        img {
            height: 20vh;
            border: 2px solid rgb(0, 0, 0);
        }
    }

    .cart_product-info {
        color: white;
        width: 36vw;
        padding: 3px 10px;
h2{
    font-family: 'vampire';
    color: black;
    text-shadow: 1px 1px 5px black;
}
        h3 {
            font-family: 'Times New Roman', Times, serif;
            font-size: 15px;
        }

        h4 {
            font-family: 'Times New Roman', Times, serif;
            font-size: 15px;
        }

        p {
            
            font-size: 14px;
        }
    }

    .cart_product-price {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
            width: 6rem;
            text-align: center;
            background-color: black;
            border: 1px solid red;
            padding: 5px;
            color: white;
            margin: 0;
        }
button {
    width: 6rem;
    text-align: center;
            color: rgb(0, 0, 0);
            background-color: rgb(255, 1, 1);
            border: 1px solid rgb(0, 0, 0);
            border-radius: 3px;
            font-size: 14px;
            padding: 0;
    margin-top: 3px;
}
        button:hover {
            background-color: black;
            color: red;
        }
        button:active {
            background-color: white;
            color: black;
        }
    }
}

.cart_product-payment {
    margin-bottom: 5rem;

    .cart_product {
        .cart_payment-total {
            justify-content: space-between;
            padding: 0px 10px;
            width: 100%;
            text-align: center;
            color: white;
        }

        .cart_payment-button {
            button {
                background-color: rgb(0, 0, 0);
                border-radius: 3px;
                color: rgb(148, 7, 7);
                border: 2px solid rgb(0, 0, 0);
                width: 9rem;
            }
            button:hover {
                background-color: white;
                color: black;
            }
            button:active {
background-color: rgb(209, 10, 10);
color: black;
            }
        }
    }
}

.cart_publicidad {
    height: 3rem;

    background-color: rgb(27, 97, 97);
}


.publicidad {
    width: 50rem;

    .carousel {

        margin: 60px 0px;
        width: 25vw;

        a {

            text-align: center;
            font-size: 20px;
            color: red;
        }

        button {
            span {

                display: none;
            }
        }

        .carousel-inner {
            box-shadow: 1px 3px 20px rgb(209, 24, 24);
            animation: breath 3s infinite;
            height: 70vh;
            .carousel-item {
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

.footercart {
    border: 2px solid black;
    position: absolute;
    width: 100%;
    height: 130px;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    border-top: 2px solid white;

    .enlaces {
        height: 20px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

        a {
            display: flex;
            margin-right: 3px;
            font-family: "mono";
            background-color: rgb(255, 0, 0);
            border: 2px solid black;
            text-decoration: none;
            color: white;
            align-items: center;
        }
    }

    .redes {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 70px;

        img {
            height: 25px;
        }
    }
}



.footer {

    .enlaces {
        height: 20px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;

        a {
            display: flex;
            margin-right: 3px;
            font-family: "mono";
            background-color: rgb(255, 0, 0);
            border: 2px solid black;
            text-decoration: none;
            color: white;
            align-items: center;
        }
    }

    .redes {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 70px;

        img {
            height: 25px;
        }
    }

}

@media (max-width: 981px) {
    .maincart {
        flex-direction: column;
    }

    .row {
        margin: 0;
    }

    .cart {
        padding: 0px 0px;
    }

    .cart_product {
        .cart_product-info {
            width: 76vw;
        }
    }

    .cart_product-payment {
        margin-bottom: 2rem;
    }

    .publicidad {
        width: auto;
        padding-bottom: 2rem;
        display: flex;
        justify-content: center;

        .carousel {
            margin: 0px 0px;
            width: 35vw;

            a {
                text-align: center;
                font-size: 20px;
                color: red;
            }

            button {
                span {
                    display: none;
                }
            }

            .carousel-inner {
                box-shadow: 1px 3px 20px rgb(209, 24, 24);
                animation: breath 3s infinite;
                height: auto;

                .carousel-item {
                    height: auto;

                    img {

                        height: auto;
                    }
                }
            }
        }
    }
}

@media (max-width: 459px) {
    .cart_product {
        
        height: auto;
        .cart_product-img {
            margin: auto;
            img {
                width: 40vw;
               
            }
        }
        .cart_product-info {
           
            width: 100%;
        }
    }
}
@import '../animations-trans/animations';
@import '../fonts';
