.contactmain {
    background-image: url(https://64.media.tumblr.com/54c78dff3e1600c49b112ee3e04bf768/tumblr_phlpe350en1v0jfsto5_1280.jpg);
    background-size: cover;
    background-color: rgb(0, 0, 0);
    height: 110vh;
    border-top: 1px solid white;
}

.contact_left {
    background-color: rgb(0, 0, 0);
    height: 120vh;
   
h2 {
    color: rgb(0, 0, 0);
    font-size: 4rem;
    text-shadow: 1px 1px 6px red;
    padding-top: 10px;
    text-align: center;
    font-family: 'chaos';
}
marquee {
    background-color: black;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    color: red;
}
form {
    margin: 15px 35px;
    box-shadow: 1px 1px 10px 3px rgb(250, 142, 1);
    border: 1px solid rgb(0, 0, 0);
    .input {
        
        background-color: rgb(92, 3, 3);
        padding: 5px 15px;
        display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
    label {
        margin-bottom: 0rem;
        font-family: 'halloween';
        color: rgb(0, 0, 0);
        text-decoration: underline;
      font-size: 20px;
    }
    input {
        border: 1px solid black;
        padding: 4px;
        height: 2.5rem;
    }
    
    textarea {
        border: 1px solid black;
        padding: 3px;
    }
    
    button {
        background-color: red;
        color: rgb(0, 0, 0);
        height: 3rem;
    }
    }
}
}

.contact_right {
    background-color: rgb(0, 0, 0);
    height: 40rem;
    display: flex;
    flex-direction: column;
    height: 120vh;
.right-info {
    
    display: flex;
    
    .right-info-column {
        padding: 6rem 1rem;
        width: 40%;
      text-align: center;
      .column-title {
        font-size: 4rem;
        font-family: 'korn';
        text-decoration: none;
        color: rgb(124, 4, 4);
        text-shadow: 1px 1px 3px rgb(250, 121, 0);
      }
        img {
            height: 30%;
        }
        p {
            font-family: 'Times New Roman', Times, serif;
            text-decoration: underline;
            color: rgb(34, 110, 112);
            font-size: 14px;
        }
    }
}
}



.footercontact .redes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    .footercontact .redes img {
        height: 25px;
    }
     .enlaces {
        height: 20px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
         a {
            display: flex;
            margin-right: 3px;
            font-family: "mono";
            background-color: rgb(255, 0, 0);
            border: 2px solid black;
            text-decoration: none;
            color: white;
            align-items: center;
        }
    }
}




.contactfooter {
    border: 2px solid black;
    width: 100%;
    position: relative;
    clear: both;
    height: 130px;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    border-top: 2px solid white;
}

@import '../animations-trans/animations';