.contactmain {
    background-image: url(https://64.media.tumblr.com/54c78dff3e1600c49b112ee3e04bf768/tumblr_phlpe350en1v0jfsto5_1280.jpg);
    background-size: cover;
    background-color: rgb(0, 0, 0);
    height: 767px;
    border-top: 1px solid white;
}

.supporth2 {
    background-color: #000000;
     h2 {
        color: rgb(255, 0, 0);
        font-size: 60px;
        padding-left: 20px;
        padding-top: 10px;
        animation: wave 4s infinite;
    }
    img {
        width: 70px;
        animation: gatito 5s;
        position: relative;
    }
}


.supporttext {
    .supporttext__question {
        background-color: #375781;
        background-image: url(https://sadhost.neocities.org/images/tiles/greengrid.jpg);
        border: 2px solid rgb(0, 0, 0);
        .supporttext__question img {
            width: 100%;
            display: block;
            padding-top: 20px;
            position: relative;
            animation: fadeimg 2s;
            animation-delay: fadeimg 10s;
        }
    }
    .supporttext .supporttext__effecttyping {
        width: 100%;
        white-space: nowrap;
        position: relative;
        color: white;
        padding: 20px;
        font-size: 3vw;
        font-family: "alagard";
        overflow: hidden;
        animation: escribiendo 3s steps(40);
    
    }
    .supporttext .supporttext2 {
        width: 100%;
        white-space: nowrap;
        position: relative;
        color: white;
        padding-left: 20px;
        font-size: 4vw;
        font-family: "alagard";
        overflow: hidden;
        animation: fadein 5s steps(30);
    }
    .supporttext .supporttext__contact {
        background-image: url(https://sadhost.neocities.org/images/tiles/brilloverde.gif);
        background-size: 10%;
        background-position: 50% 44%;
        border: 2px solid black;
        .supporttext .supporttext__contact h2 {
            animation: rainbow 5s infinite;
        }
        .supporttext .supporttext__contact h3 {
            font-weight: bold;
            color: red;
            font-family: "evanescence";
        }
        .supporttext .supporttext__contact img {
            width: 50px;
        }
        .supporttext .supporttext__contact p {
            font-size: 30px;
            animation: rainbow 5s infinite;
            animation-direction: alternate;
        }
        .supporttext__contact .contactform {
            background-color: #000000;
            border: 2px solid green;
            padding: 20px;
            width: 100%;
            .supporttext__contact .contactform button {
                width: 100%;
            }
            .supporttext__contact .contactform button:active {
                background-color: #ff0000;
                color: rgb(0, 0, 0);
            }
        }
    }
    .supporttext .supporttext__box {
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        gap: 50px;
        color: white;
    }
    
}


.supportflex {
    display: flex;
}


.contactustext {
    background-color: #000000;
    .contactustext h2 {
        padding: 15px 20px;
        font-family: "dreamscar";
        font-size: 50px;
        color: white;
        animation: contactus 6s infinite;
    }
}


.contactusjob {
    height: 40vh;
    padding: 10px;
    background-image: url(https://sadhost.neocities.org/images/tiles/multi086.jpg);
    .contactusjob .col {
        background-color: #000000;
        justify-content: space-between;
        display: flex;
        border: 2px solid red;
        height: 30vh;
        padding: 20px;
    }
    .contactusjob .contactlinks {
        width: 30vw;
        background-color: #000000;
    
    }
    .contactusjob a {
        display: inline-block;
        font-size: 23px;
        color: #031786;
    }
    .contactusjob .apply {
        font-size: 15px;
        margin-left: 10px;
        color: white;
}

}




.contactform .form-label {
    font-family: "5x5";
    background-image: url(https://sadhost.neocities.org/images/tiles/nurple-static-bright.gif);
    width: 100%;
    padding: 0px 5px;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.contactform .form-control {
    border-radius: 0;
    width: 100%;
}

.contactform .form-control:focus {
    background-color: #afadad;
}

.footercontact .redes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
}

.footercontact .redes img {
    height: 25px;
}

.footercontact .enlaces {
    height: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.footercontact .enlaces a {
    display: flex;
    margin-right: 3px;
    font-family: "mono";
    background-color: rgb(255, 0, 0);
    border: 2px solid black;
    text-decoration: none;
    color: white;
    align-items: center;
}

.contactfooter {
    border: 2px solid black;
    width: 100%;
    position: relative;
    top: 10vh;
    clear: both;
    height: 130px;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    border-top: 2px solid white;
}

